@use './_mixins/mixins.scss' as *;
@use './_variables/index.scss' as *;

:root {
  --use-ghost-text-color: var(--use-color-text-dark);
}

.dark {
  --use-ghost-text-color: var(--use-color-text-light);
}

@mixin buttn-lifting($color, $shadow) {
  @include button-trigger() {
    box-shadow: $shadow;
    border-color: $color;
    color: $color;
    transform: translateY(-3px);
  }
}

@mixin button-trigger() {
  &:not(.is-disabled) {
    &:not(.is-loading) {
      @content;
    }
  }
}

@include b('button') {
  height: 32px;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  //按钮类型
  @include m('default') {
    background-color: var(--use-color-background);
    border: 1px solid var(--use-color-border);

    @include when('ghost') {
      background-color: transparent;
      color: var(--use-ghost-text-color);
    }

    @include when('danger') {
      color: var(--use-color-danger);
      border: 1px solid var(--use-color-danger);

      &:hover {
        @include buttn-lifting(
          var(--use-color-danger),
          0 10px 20px -10px var(--use-color-danger)
        );
      }
    }

    &:hover {
      @include buttn-lifting(
        var(--use-color-primary),
        0 10px 20px -10px var(--use-color-primary)
      );
    }
  }

  @include m('primary') {
    color: var(--use-color-white);
    background-color: var(--use-color-primary);

    &:hover {
      @include buttn-lifting(
        var(--use-color-white),
        0 10px 20px -10px var(--use-color-primary)
      );
      border-color: var(--use-color-primary) !important;
    }

    @include when('ghost') {
      color: var(--use-color-primary) !important;
      border: 1px solid var(--use-color-primary);
      background-color: transparent;

      @include b('ripples-button') {
        background-color: var(--use-color-primary) !important;
      }
    }

    @include when('danger') {
      background-color: var(--use-color-danger);
      color: var(--use-color-white) !important;

      &:hover {
        border-color: var(--use-color-danger) !important;

        @include button-trigger() {
          box-shadow: 0 10px 20px -10px var(--use-color-danger);
          color: var(--use-color-white) !important;
        }
      }
    }

    @include b('ripples-button') {
      background-color: var(--use-color-white) !important;
    }
  }

  @include m('dashed') {
    background-color: var(--use-color-background);
    border: 1px solid var(--use-color-border);
    color: var(--use-color-text);
    border-style: dashed;

    &:hover {
      @include buttn-lifting(
        var(--use-color-primary),
        0 10px 20px -10px var(--use-color-primary)
      );
    }

    @include when('ghost') {
      background-color: transparent;
      color: var(--use-ghost-text-color);
    }

    @include when('danger') {
      color: var(--use-color-danger);
      border: 1px solid var(--use-color-danger);
      border-style: dashed;

      &:hover {
        @include button-trigger {
          box-shadow: 0 10px 20px -10px var(--use-color-danger);
          color: var(--use-color-danger) !important;
          border-color: var(--use-color-danger) !important;
        }
      }
    }
  }

  @include m('text') {
    background-color: transparent;

    &:hover {
      @include buttn-lifting(
        var(--use-color-text),
        0 10px 20px -10px rgba(0, 0, 0, 0.5)
      );
      border-color: transparent !important;
    }

    @include when('danger') {
      color: var(--use-color-danger);

      &:hover {
        @include button-trigger {
          box-shadow: 0 10px 20px -10px var(--use-color-danger);
          color: var(--use-color-danger) !important;
        }
      }
    }
  }

  @include m('link') {
    background-color: transparent;
    color: var(--use-color-primary);

    &:hover {
      @include buttn-lifting(
        var(--use-color-primary),
        0 10px 20px -10px rgba(0, 0, 0, 0.5)
      );
      border-color: transparent !important;
    }

    @include when('danger') {
      color: var(--use-color-danger);

      &:hover {
        @include button-trigger {
          box-shadow: 0 10px 20px -10px var(--use-color-danger);
          color: var(--use-color-danger) !important;
        }
      }
    }
  }

  //按钮尺寸
  @include m('large') {
    padding: 6.5px 15px;
    font-size: 16px;
    height: 40px;
  }

  @include m('small') {
    padding: 0px 7px;
    height: 24px;
  }

  //按钮形状
  @include m('circle') {
    min-width: 32px;
    border-radius: 50%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  @include m('round') {
    border-radius: 12px;
  }

  //块级按钮
  @include when('block') {
    width: 100%;
  }

  @include when('disabled') {
    cursor: not-allowed;
    opacity: 0.6;
  }

  @include when('danger') {
    @include b('ripples-button') {
      background-color: var(--use-color-danger);
    }
  }

  //按钮涟漪
  @include b('ripples-button') {
    width: 0px;
    height: 0px;
    position: absolute;
    pointer-events: none;
    background-color: var(--use-color-primary);
    opacity: 0.5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripples-button-animation 0.7s linear;
  }
}

@keyframes ripples-button-animation {
  from {
    width: 2px;
    height: 2px;
    opacity: 0.5;
  }

  to {
    opacity: 0;
    width: 500px;
    height: 500px;
  }
}
