@use './_mixins/mixins.scss' as *;

@include b('button-group') {
  display: inline-flex;
  align-items: center;

  @include b('button') {
    &:not(:last-child) {
      border-right-color: transparent;

      &:not(:first-child) {
        border-radius: 0px;
      }
    }

    &:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}
