:root {
  --vp-c-green: var(--use-color-primary);
  --vp-button-brand-active-border: var(--use-color-primary);
  --vp-button-brand-hover-bg: var(--use-color-primary);
  --vp-button-brand-border: var(--use-color-primary);
  --vp-button-brand-hover-border: var(--use-color-primary);
  --vp-c-brand-dark: var(--use-color-primary);
  --vp-c-bg-alt: #fff; // 侧边栏
  --overlay-basic-background:#ffffff;
}

.VPNav {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.dark {
  --vp-c-bg-alt: #141414;
  --vp-c-bg: #141414;
  --overlay-basic-background:#262626;
}

.sidebar-link-item.active {
  background: rgba(82, 179, 94, 0.1);
}

.vp-doc {
  // 代码片段下拉菜单
  details {
    padding: 10px !important;
    margin: 10px 0 !important;

    summary {
      text-align: center;
      cursor: pointer;
      user-select: none;
      margin: 0 !important;

      &:hover {
        transition: 0.5s;
        color: #2d5af1;
      }
    }

    &::before {
      content: '' !important;
    }
  }

  .f-dropdown {
    ul {
      list-style: none;
    }
  }

  ul {
    list-style: disc;
    padding-left: 0;

    li {
      margin-top: 0;
    }
  }

  .f-up-load__file-list {
    margin: 0;
  }

  ul.f-list {
    list-style: none;
  }

  // 移除表格默认样式
  table {
    margin: 0;

    th,
    tr,
    td {
      border: none;
      background: none;
    }
    tr:nth-child(2n) {
      background: none;
    }
  }

  // 表格
  .vp-table__container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;

    table {
      width: 100%;
      display: inline-table;
    }

    th {
      background-color: rgba(5, 5, 5, 0.06);
    }

    td,
    th {
      text-align: center;
      font-size: 15px;
      border: 1px solid rgba(5, 5, 5, 0.06);
      font-size: 14px;
      font-weight: 500 !important;
      border-left: none !important;
      border-right: none !important;
    }

    code {
      color: rgb(196, 29, 127);
    }
  }

  p.f-text {
    line-height: 1;
  }
}

// 顶部 logo
.VPNavBarTitle.has-sidebar {
  border: none;
}

// 左侧选项链接
.VPSidebarGroup {
  .VPLink.link.link {
    margin: 0;
    padding: 8px 18px;
    transition: 0.4s;
    padding-left: 14px !important;
    margin: 5px 0px;
  }

  .VPLink.link.link.active {
    background: rgba(26, 92, 255, 0.15);
    color: rgb(26, 92, 255) !important;
    box-sizing: border-box;

    .link-text {
      font-weight: 600;
    }
  }
}

// 菜单栏
.VPSidebar.open {
  z-index: 99999;
}

// 滚动条
::-webkit-scrollbar {
  width: 7px;
}

// 滚动滑块
::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 6px;
}

// 粘性卡片
.f-sticky-card {
  margin-top: 20px;
}

h2[id] {
  opacity: 0;
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: none !important;
  border: none !important;
  margin-bottom: 20px;
  padding-top: 0px;
}

.dark {
  .vp-table__container {
    td,
    th {
      border: 1px solid rgba(253, 253, 253, 0.12);
      font-size: 14px;
    }

    th,
    td {
      color: rgb(92, 107, 119);
    }

    code {
      color: rgb(224, 82, 156);
    }
  }
}

.dark .VPNavBar.has-sidebar .content {
  background-color: #141414 !important;
}

.dark .use-demo__title p {
  background-color: #141414 !important;
}

.dark .VPNav.no-sidebar {
  background-color: #141414 !important;
}

.VPButton {
  border-radius: 0px !important;

  &:hover {
    opacity: 0.8;
  }
}

a {
  border-radius: 0px !important;
}

.VPLink {
  border-radius: 0px !important;
}
